<% form_for :reset,:url=>{:controller=>"manage_profiles",:action=>"change_password"},:html => {:id => "reset" } do|f| %>
	<div class="message">
		<h3>Reset Password</h3>
		<p>Reset your new personal password for your account.</p>
	</div>
	<!--begin email address-->
	<div class="clearfix">
      <div class="fields-container">
        <label for="email">AT&amp;T ID  <span class="vert">/</span> Email</label>
        <div class="input-c">
          <%= f.text_field :username, :style => "width:258px;" %>
        </div>
      </div>
	</div>
	<!--end email address-->
	<!--end create password-->
		<%= f.hidden_field :captcha_id, :value => "#{@captcha_id}" %>
		<%= f.hidden_field :captcha_type, :value => "#{@captcha_type}" %>
		<!--end wireless number-->
    <!--begin Captcha--><!-- Ideally, the captcha is not duplicated on the page in order to avoid unnecessary HTTP requests -->
    <div class="img-captcha">
      <img src="data:image/jpeg;base64,<%= @captcha_content %>" alt="Captcha Image">
      <!-- left offset matches up with label below, so it's easy to read -->
    </div>
    <div class="clearfix">
      <div class="fields-container">
        <label for="captcha">Type the word above</label>
        <div class="input-c" id="firstCol_b" style="right: 9px; top: 11px;left:0px;width:270px;">
          <%= f.text_field :captcha_phrase, :style => "width:258px;" %>
        </div>
      </div>
    </div>
		<% if flash[:reset_error] %><p class="message error"><%= flash[:reset_error] %></p><% end %>
    <!--end Captcha-->
	<div class="button-group">
		<p>
			<a class="button ok" href="javascript:submit_chage_password();">Save</a>
		</p>
	</div>
<% end %>
